parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$mergedConfig \\(array\\{traceMode\\: 'tracecontext'\\|'traceid', traceid\\: array\\{request_header\\: string, response_header\\: string, generator_service\\: string\\|null\\}, trust_request_header\\: bool, storage_service\\: string\\|null, enable_monolog\\: bool, enable_console\\: bool, enable_messenger\\: bool, enable_twig\\: bool, \\.\\.\\.\\}\\) of method DR\\\\SymfonyRequestId\\\\DependencyInjection\\\\SymfonyRequestIdExtension\\:\\:loadInternal\\(\\) should be contravariant with parameter \\$mergedConfig \\(array\\) of method Symfony\\\\Component\\\\HttpKernel\\\\DependencyInjection\\\\ConfigurableExtension\\:\\:loadInternal\\(\\)$#"
			count: 1
			path: src/DependencyInjection/SymfonyRequestIdExtension.php

		-
			message: "#^Method DR\\\\SymfonyRequestId\\\\Http\\\\TraceContextAwareHttpClient\\:\\:request\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/TraceContextAwareHttpClient.php

		-
			message: "#^Method DR\\\\SymfonyRequestId\\\\Http\\\\TraceContextAwareHttpClient\\:\\:withOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/TraceContextAwareHttpClient.php

		-
			message: "#^Method DR\\\\SymfonyRequestId\\\\Http\\\\TraceIdAwareHttpClient\\:\\:request\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/TraceIdAwareHttpClient.php

		-
			message: "#^Method DR\\\\SymfonyRequestId\\\\Http\\\\TraceIdAwareHttpClient\\:\\:withOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/TraceIdAwareHttpClient.php

		-
			message: "#^Method DR\\\\SymfonyRequestId\\\\Monolog\\\\TraceIdProcessor\\:\\:__invoke\\(\\) has parameter \\$record with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Monolog/TraceIdProcessor.php

		-
			message: "#^Method DR\\\\SymfonyRequestId\\\\Monolog\\\\TraceIdProcessor\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Monolog/TraceIdProcessor.php

		-
			message: "#^Return type \\(array\\|Monolog\\\\LogRecord\\) of method DR\\\\SymfonyRequestId\\\\Monolog\\\\TraceIdProcessor\\:\\:__invoke\\(\\) should be covariant with return type \\(Monolog\\\\LogRecord\\) of method Monolog\\\\Processor\\\\ProcessorInterface\\:\\:__invoke\\(\\)$#"
			count: 1
			path: src/Monolog/TraceIdProcessor.php

		-
			message: "#^Parameter \\#1 \\$options \\(array\\{environment\\?\\: string, debug\\?\\: bool, tracemode\\?\\: string\\}\\) of method DR\\\\SymfonyRequestId\\\\Tests\\\\Functional\\\\AbstractKernelTestCase\\:\\:createKernel\\(\\) should be contravariant with parameter \\$options \\(array\\) of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Test\\\\KernelTestCase\\:\\:createKernel\\(\\)$#"
			count: 1
			path: tests/Functional/AbstractKernelTestCase.php

		-
			message: "#^Method DR\\\\SymfonyRequestId\\\\Tests\\\\Functional\\\\App\\\\Monolog\\\\MemoryHandler\\:\\:write\\(\\) has parameter \\$record with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Functional/App/Monolog/MemoryHandler.php
